@page
@model ProjektuppgiftASP.NET.Pages.MyEventsModel

@{
    ViewData["Title"] = "MyEvents";
}
<h1>My Events</h1>

@if (TempData["Success"] != null)
{
<div class="alert alert-info">
    @TempData["Success"]
</div>
}
<hr />

<table class="table">
    <thead>
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Place</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Event)
        {

            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>

                <td>@Html.DisplayFor(modelItem => item.Date)</td>

                <td>@Html.DisplayFor(modelItem => item.Place)</td>

                <td>
                </td>
            </tr>


        }
    </tbody>
</table>
<div>
    <a asp-page="./Events">Back to Events</a>
</div>

