@page
@model ProjektuppgiftASP.NET.Pages.AdminPageModel
@{
}

<h1>Admin Page</h1>

@if (User.IsInRole("Admin"))
{
    <h1 class="display-4">Hej Admin!</h1>
}

else
{
     <a asp-area="Identity" asp-page="/Account/Login">
        <input type="button" class="btn btn-primary" value="Log In">
    </a>
}