@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="indexButton">
    <a  asp-area="Identity" asp-page="/Account/Register">
        <input type="button" class="btn btn-primary" value="Register">
    </a> <a asp-area="Identity" asp-page="/Account/Login">
        <input type="button" class="btn btn-primary" value="Log In">
    </a>
</div>
