@page
@model ProjektuppgiftASP.NET.Pages.OrganizerPageModel
@{
}
<h1>Admin Page</h1>

@if (User.IsInRole("Organizer"))
{
    <h1 class="display-4">Hej Organizer!</h1>
}

else
{
    <a asp-area="Identity" asp-page="/Account/Login">
        <input type="button" class="btn btn-primary" value="Log In">
    </a>
}